* { box-sizing: border-box; }

body {
    font-family: 'Verdana', sans-serif;
    font-size: 100%;
    color: #695d46;
    background: #fff;
    margin: 0;
}

#container {
    border-radius: 25px;
    margin: 2em auto;
    padding: 2em 4em;
    background: #4db6ac;
    overflow: auto;
    border: .2em solid #ef6c00;
    max-width: 85%;
}

#session {
    border-radius: 25px;
    background: #fff;
    margin: 2em auto;
    padding: 2em 4em;
    overflow: auto;
    border: .2em solid #ef6c00;
}

#selection {
    border-radius: 25px;
    background: #fff;
    margin: 2em auto;
    padding: 2em 4em;
    overflow: auto;
    border: .2em solid #ef6c00;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 3em;
    margin: 0;
    padding: 0.5em 0;
}

h2 {
    font-family: 'Georgia', serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
}

h3 {
    text-align: center;
}

p, li {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.right {
    float: right;
    margin: 1.5em 0 1em 1em;
    border: 1px solid #333;
}


/* links */

a {
    color: #009;
    text-decoration: none;
}

a:hover {
    color: #0cc;
    text-decoration: underline;
}

/* media queries */

@media (max-width: 800px) {
    body {
        background: #fff;
    }
    #container {
        margin: 0;
        width: 100%;
        padding: 2em;
    }
    h1 {
        padding: 0 0 0.3em 0;
    }
    .right {
        float: none;
        margin: 0;
    }
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
    margin: 0 auto;
}
select {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    text-align-last: center;
}